[submodule "question/type/pmatchjme"]
	path = question/type/pmatchjme
[submodule "question\\type\\qtype_pmatch"]
	path = question\\type\\qtype_pmatch
	url = git@github.com:moodleou/moodle-qtype_pmatch.git
