/* Admin
--------------------------*/
 
/* Tabs
--------------------------*/
.tabtree {
	position: relative;
	margin-bottom: 0em;
}

.tabtree ul {
	text-align: center;
	margin: 5px;
}

.tabtree li {
	display: inline;
}

.tabtree .tabrow0 {
	width: 100%;
	margin: 1em 0px;
	line-height: 3;
}

.tabtree .tabrow0 li {
	margin-right: -4px;
}

.tabtree .tabrow0 li.here {
	font-weight: bold;
}

.tabtree .tabrow0 li.here a {
	position: relative;
	z-index: 102;
}

.tabtree .tabrow0 li.here .empty {
	display: block;
	height: 1px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	width: 100%;
	bottom: -6px;
}

.tabtree .tabrow0 ul,
.tabtree .tabrow0 div {
	font-weight: normal;
	border-top: 2px solid #DDD;
	padding: 0.25em 0px;
	margin: 0px;
}


.unlist, .unlist li,
.inline-list, .inline-list li,
.block .list, .block .list li,
.sitetopic .section li.activity,
.course-content .section li.activity,
.tabtree li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tabtree .here a.nolink,
.tabtree .here ul .here a.nolink,
.tabtree .here a.nolink:hover,
.tabtree .here ul .here a.nolink:hover {
	color: black;
	text-decoration: none;
}

.tabtree .tabrow0 .here a {
	background: white;
}

.tabtree .tabrow0 li a {
	background: #F7F7F7;
	padding: 8px 10px 5px;
	border: 2px solid #ccc;
	margin: 0 2px;
	margin-left:0px;
}

.tabtree a.nolink,
.tabtree .here ul a.nolink,
.tabtree a.nolink:hover,
.tabtree .here ul a.nolink:hover {
	color: #666;
	text-decoration: none;
}

.tabtree .tabrow0 li.here {
	font-weight: bold;
}


.generalbox {
border: 1px dotted #ccc;
}


.unlist, .unlist li,
.inline-list, .inline-list li,
.block .list, .block .list li,
.sitetopic .section li.activity,
.course-content .section li.activity,
.tabtree li {
	list-style: none;
}

/* Tables (Rights&Roles)
--------------------------*/
#page-admin-roles-define tr.header {
	background-color: #E1E1DF;
}


#page-admin-roles-define tr.rolecap {
	border: 1px solid #E1E1DF;
}

#page-admin-roles-define tr.rolecap td.inherit,
#page-admin-roles-define tr.rolecap td.allow,
#page-admin-roles-define tr.rolecap td.prevent,
#page-admin-roles-define tr.rolecap td.prohibit{
	border: 1px solid #CECECE;
}

#page-admin-roles-define td.allow {
	color:#698B22;
}

#page-admin-roles-define td.prevent {
	color:#FF6600;
}
#page-admin-roles-define td.prohibit{
	color:#FF0000;
}

#page-admin-roles-define .capdefault {
	background-color: #ccc;
	border: 1px solid #CECECE;
}

.generaltable .cell {
	border-width: 1px;
	border-style: solid;
	background-color: white;
	border-color: #EEE;
}

th, td {
	padding: .5em;
}

.admin .generaltable .header {
	background-image: url([[pix:theme|hgradient]]);
	background-repeat: repeat-x;
}

/* Tables - Enrolled users
--------------------------*/

.paging {
	margin: 10px 0 10px 0;
}

table.userenrolment .header,
table.generaltable .header {
	background-image: url([[pix:theme|hgradient]]);
	background-repeat: repeat-x;
}

.userenrolment {font-size:90%;border:1px solid #999;}
.userenrolment tr.r0 {background-color:#E9E9E9;}
.userenrolment tr.r1 {background-color:#E9E9E9;}
.userenrolment td {border:1px solid #E9E9E9;border-top-color:#E9E9E9;border-right-color:#EEE;border-left-color:#E9E9E9;}
.userenrolment td.c0 {border-left-width:0;}
.userenrolment td.lastcol {border-right-color:#999;}
.userenrolment .col_bulkops {vertical-align:middle;text-align:center;}
.userenrolment .r0 .col_bulkops {background-color:#FFFFFF;}
.userenrolment .r1 .col_bulkops {background-color:#F9F9F9;}
.userenrolment tr.lastrow td {border-bottom-width:0;}
.userenrolment .col_userdetails {padding:3px;min-width:35%;}
.userenrolment .col_role .roles {position:relative;}
.userenrolment .col_role .role {line-height:10px;}
.userenrolment .col_role .role a img {height:8px;}
.userenrolment .col_role .addrole {background-color:#DDD;border:1px outset #EEE;-moz-border-radius:5px;}
.userenrolment .col_group {max-width:300px;}
.userenrolment .col_group .group {line-height:10px;font-size:10px;}
.userenrolment .col_group .group a img {height:8px;}
.userenrolment .col_group .addgroup {background-color:#DDD;border:1px outset #EEE;-moz-border-radius:5px;}
.userenrolment .col_enrol {max-width:300px;}
.userenrolment .col_enrol .enrolment {border:1px outset #E6E6E6;background-color:#EEE;line-height:10px;font-size:10px;-moz-border-radius:5px;}
.userenrolment.otheruserenrolment .col_role .role {float:none;}
.path-enrol .enrolusersbutton,
.path-enrol .enrolcohortbutton {float:left;}
.path-enrol .enrolusersbutton.instance1,
.path-enrol .enrolcohortbutton.instance1,
.path-enrol .assignuserrole.instance1 {float:right;}
.path-enrol .singleselect.bulkuserop {float:left;}


/* mediaplugin
--------------------------*/
.mediaplugin_html5audio, .mediaplugin_html5video, .mediaplugin_swf, .mediaplugin_flv, .mediaplugin_real, .mediaplugin_youtube, .mediaplugin_vimeo, .mediaplugin_wmp, .mediaplugin_qt {
display: inline-block;

}