/* Global
--------------------------*/
html {
    height: 100%;
}

body {
    background: #fff;
    margin: 0;
    padding: 0;
    color: #666;
    word-wrap: break-word;
    background-image: url([[pix:theme|s-bgrepeat]]);
    background-repeat: repeat-x;
    max-width: 2000px;
    height: 100%; 
    font-size:0.8em;
}

body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea {
    font-family: Arial, 'Myriad Pro', 'Myriad', helvetica, sans-serif;
}

.wrapper {
    margin: 0 35px;
}

/* TYPO
--------------------------*/

a:link {
    text-decoration: none;
    color: #2e7cdc
}

a:visited {
    text-decoration: none;
    color: #2e7cdc
}

a:hover {
    text-decoration: underline;
    color: #2e7cdc
}

a:active {
    text-decoration: none;
    color: #244f77
}

h2.main {font-size:1.3em ;}

a img {
    border: none;
}

h1.headermain {
    font-weight: bold;
    color: #fff;
    padding-left:40px;
    letter-spacing: 0.07em;
    background: #244F77;
    position: relative;
    font-size: 16px; 
    margin:5px 0 0 0 !important;
}

.headermenu .logininfo,.headermenu .langmenu,.headermenu .langmenu div,.headermenu .langmenu form,.headermenu .langmenu select,.headermenu .langmenu label
{
    display: inline !important;
}

/* Links of the Header
---------------------------*/

.headermenu .logininfo {
    padding-right: 5px;
}

#page-header .logininfo a:link,
#page-header .logininfo a:visited,
#page-header .logininfo a:hover,
#page-header .logininfo a:active {
    text-decoration: underline;
    color: #369eff
}

#page-header a:link {
    text-decoration: underline;
    color: #2e7cdc
}

#page-header a:visited,
#page-header a:hover,
#page-header a:active {
    text-decoration: none;
    color: #2e7cdc
}

/* Mainbox
---------------------------*/

#region-main-box {
    background: #eee;
}

#region-post-box {
    background: #fff;
}

#page-footer {
    background: #0e2f4f;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-box-shadow: -4px 3px -4px #ccc;
    -moz-box-shadow: -4px 3px -4px #ccc;
    box-shadow: -4px 3px -4px #ccc;
}

#page-footer p{
    margin-bottom: 0.5em;
    margin-top:0.5em;
}

#page-content,#region-main-box,#region-main-wrap,#page-content-wrapper,#top,div.region-content	{
     /* height: 100%;*/
    position: relative;
}

#region-main-box {
    /*-webkit-box-shadow: 6px 0px 8px #ccc;
    -moz-box-shadow: 6px 0px 8px #ccc;
    box-shadow: 6px 0px 8px #ccc;*/
}

/* Header
---------------------------*/
#page-header {
    color: #fff;
    height: 58px;
    background-image: url([[pix:theme|header_t]]);
    background-repeat:no-repeat;
    position: relative;
}

#page-header div.headermenu {
    height: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    margin-top: 0px;
    line-height: 30px;
}

#newheaderdiv {
    margin-top:100px;
}

#newheader {
    position: relative;
    min-height: 30px;
    left:-40px;
    margin-left: 20px;
    background: #244F77;
    -webkit-box-shadow: 4px 4px 10px #244F77;
	-moz-box-shadow: 4px 4px 10px #244F77;
	box-shadow: 4px 4px 10px #244F77;
}

#newheaderleft {
    position: relative;
    margin-top: 0px;
    margin-left: 20px;
    left:-40px;
    width:34px;
    height:12px;
    background-image: url([[pix:theme|knick]]);
    background-repeat:no-repeat;
    display:block;
}

#region-main-banner {
    background-image: url([[pix:theme|banner_r]]);
    background-repeat:no-repeat;
    height:81px;
    padding-left:170px;
    position:relative;
    margin-left:365px;
    left:100%;
}
/*
.side-pre-only  #region-main,.content-only #region-main,.content-only #region-main-box	{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
}
*/
/* Navbar
--------------------------*/
.navbar {
    margin-top: 0px !important;
    margin-left: 10px;
}

.navbar .wrapper {
    margin-left: 0px !important;
    padding-left: 0px !important;
}

.breadcrumb .sep {
    color: #777;

}

.navbutton {
    margin-top: 20px;
    margin-right: 50px;

}

/* Forums
---------------------------*/

.forumpost .content {
    border-bottom: 5px solid #aaa;
    padding: 5px 7px 10px 7px;
}

.forumpost .topic {
    background: #eee;
    border-bottom: 1px solid #aaa;
}

.forumpost .attachments .iconsmall {
	margin-left:10px;
}

.forumpost .picture img{
	margin:0;
}


/* YUI Menu - custom menu
-------------------------------*/
#custommenu {
    width: 60%;
    float: left;
}

#custommenu .yui3-menu-label-active,#custommenu .yui3-menu-label-menuvisible,#custommenu .yui3-menu .yui3-menu .yui3-menu-label-active,#custommenu .yui3-menu .yui3-menu .yui3-menu-label-menuvisible,#custommenu .yui3-menuitem-active .yui3-menuitem-content,#custommenu .yui3-menu .yui3-menu .yui3-menuitem-active .yui3-menuitem-content,#custommenu .yui3-menu-horizontal.javascript-disabled li a:hover
{
    background-color: #666;
}

#custommenu .yui3-menu-content,#custommenu .yui3-menu .yui3-menu .yui3-menu-content
{
    background-image: none;
    background-color: #333;
    border-width: 0;
    padding: 0;
}

#custommenu .yui3-menuitem-active .yui3-menuitem-content {
    background-image: none;
}

#custommenu .yui3-menu-label,#custommenu .yui3-menu .yui3-menu .yui3-menu-label
{
    background-image: url([[pix:theme|vertical-menu-submenu-indicator]]);
    background-position: right center;
    background-repeat: no-repeat;
}

#custommenu .yui3-menu-label.yui3-menu-label-menuvisible,#custommenu .yui3-menu .yui3-menu .yui3-menu-label.yui3-menu-label-menuvisible
{
    background-image: url([[pix:theme|horizontal-menu-submenu-indicator]]);
}

#custommenu .yui3-menu-horizontal .yui3-menu-label,#custommenu .yui3-menu-horizontal .yui3-menuitem-content
{
    border-width: 0;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 200;
    line-height: 30px;
    cursor: pointer;
    padding: 0 20px;
}

#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content,#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content .ul
{
    border-width: 0;
}

#custommenu .yui3-menu-horizontal.javascript-disabled li a {
    padding: 0 20px;
    display: block;
}

/* Course - Summary
-------------------------------*/
div.summary {
    font-family: Arial, serif;
    padding-bottom: 5px;
    width: 98%;
}

div.summary p {
    font-family: Arial, sans-serif;

    line-height: 1.5em;
}

iframe#id_introeditor_ifr {max-width:80%;}

/* SitePolicy - Agreement
-------------------------------*/
#page-user-policy #resourceobject {
	height: 300px !important;
}

/* Forum
-------------------------------*/

.forumpost .content .posting {
	overflow: visible;
}

/* Input - Search Courses Frontpage
-------------------------------*/
#coursesearch input[type="text"] {
	min-width: 12.25em;
}