/* Global
--------------------------*/
html {
    height: 100%;
}

body {
    background: #fff;
    margin: 0;
    padding: 0;
    color: #333;
    word-wrap: break-word;
    background-repeat: repeat-x;
    max-width: 2000px;
    height: 100%; 
    font-size:0.8em;
}

body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea {
    font-family: Arial, 'Myriad Pro', 'Myriad', helvetica, sans-serif;
}

/* Headlines
-----------------------------------*/
.region-content .course-content .section h1 {
	text-transform: uppercase;
	color:#244f77;
}

.region-content .course-content .section h2 {
	font-size: 138.5%;
	color:#244f77;	
}

.region-content .course-content .section h3 {
	font-size: 138.5%;
	color:#244f77;		
}

.region-content .course-content .section h4 {
	font-size: 120%;
	color:#244f77;	
}

.region-content .course-content .section h4 {
	font-size: 110%;
	color:#244f77;	
}

.region-content .course-content .section h5 {
	font-style:italic;
	color:#244f77;		
}

.region-content .course-content .section h6 {
	color:#244f77;		
}

.wrapper {
    margin: 0px 0px 0px 10px;
}

/* TYPO
--------------------------*/

a:link {
    text-decoration: none;
    color: #2e7cdc
}

a:visited {
    text-decoration: none;
    color: #2e7cdc;
}

a:hover {
    text-decoration: underline;
    color: #2e7cdc;
}

a:active {
    text-decoration: none;
    color: #244f77
}

h2.main {font-size:1.3em ;}

a img {
    border: none;
}

h1.headermain {
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.07em;
    background: #00203D;
    position: relative;
    font-size: 18px;
    padding: 8px;
    width: 100%;
    float: none;
    margin: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
}

.headermenu .logininfo,.headermenu .langmenu,.headermenu .langmenu div,.headermenu .langmenu form,.headermenu .langmenu select,.headermenu .langmenu label {
   display: inline !important;
}

/* Links of the Header
---------------------------*/

.headermenu .logininfo {
    padding-right: 5px;
}

#page-header .logininfo a:link,
#page-header .logininfo a:visited,
#page-header .logininfo a:hover,
#page-header .logininfo a:active {
    text-decoration: underline;
    color: #369eff
}

#page-header a:link {
    text-decoration: underline;
    color: #2e7cdc
}

#page-header a:visited,
#page-header a:hover,
#page-header a:active {
    text-decoration: none;
    color: #2e7cdc
}

/* Mainbox
---------------------------*/

#region-main-box {
    background: #eee;   
}

#region-post-box {
    background: #fff;
}

/* Footer
-------------------------------*/
#page-footer {
	width: 100%;
    background: #00203D;
    color: #fff;
    -webkit-box-shadow: -4px 3px -4px #ccc;
    -moz-box-shadow: -4px 3px -4px #ccc;
    box-shadow: -4px 3px -4px #ccc;
    line-height:1.5;
}

#page-footer p{
    margin-bottom: 0.5em;
    margin-top:0.5em;
}

#page-content,#region-main-box,#region-main-wrap,#page-content-wrapper,#top,div.region-content	{
    position: relative;
}

.abstand {
	height:200px;
}

#top { 
	min-height: 100%;
    height: auto!important;
    height: 100%;   
}

#page-footer .logininfo {
	margin: 10px 10px;
}

/* Header
---------------------------*/
#page-header {
    color: #fff;
    height: 58px;
    background-image: url([[pix:theme|header_t]]);
    background-repeat:no-repeat;
    position: relative;
    background-color:#00203D;
}

#page-header div.headermenu {
    height: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 30px;
}

#newheaderdiv {
    margin-top:100px;
}

#newheader {
    position: relative;
    min-height: 30px;  	
  	margin-right: 25px;
	margin-top: 10px;
}

#region-main-banner {
    background-image: url([[pix:theme|banner_r]]);
    background-repeat:no-repeat;
    height:81px;
    padding-left:170px;
    position:relative;
    margin-left:390px;
    left:100%;
}

/* Navbar
--------------------------*/
.navbar {
    margin-top: 0px !important;
    margin-left: 10px;
}

.navbar .wrapper {
    margin-left: 0px !important;
    padding-left: 0px !important;
}

.breadcrumb .sep {
    color: #777;

}

.navbutton {
    margin-top: 20px;
    margin-right: 50px;

}

/* Forums
---------------------------*/

.forumpost .content {
    border-bottom: 5px solid #aaa;
    padding: 5px 7px 10px 7px;
}

.forumpost .topic {
    background: #eee;
    border-bottom: 1px solid #ccc;
}

.forumpost .attachments .iconsmall {
	margin-left:10px;
}

.forumpost .picture img{
	margin:0;
}

/* Course - Summary
-------------------------------*/
div.summary {
    font-family: Arial, serif;
    padding-bottom: 5px;
    width: 98%;
}

div.summary p {
    font-family: Arial, sans-serif;

    line-height: 1.5em;
}

iframe#id_introeditor_ifr {max-width:80%;}

/* SitePolicy - Agreement
-------------------------------*/
#page-user-policy #resourceobject {
	height: 300px !important;
}

/* Forum
-------------------------------*/

.forumpost .content .posting {
	overflow: visible;
}

.row {
	background-color: transparent;
}

/* Input - Search Courses Frontpage
-------------------------------*/
#coursesearch input[type="text"] {
	min-width: 12.25em;
}

/* questionbank - table icon 
-------------------------------*/
#categoryquestions .iconcol {
	width: 30px; 
}

img.iconsmall {
	height: 16px;
	width: 16px;
}

/* Course - Categories 
-------------------------------*/
.coursebox {
	width: auto;
	border: 2px solid #eee;
	padding: 10px;
	-webkit-box-shadow: 4px 4px 3px #ccc;
	-moz-box-shadow: 4px 4px 3px #ccc;
	box-shadow: 4px 4px 3px #ccc;
}

.coursebox .info {
	float: none;
	width: 100%;
}

.coursebox .summary {
	float: none;
	width: 98%;
	margin-left: 2em;
}


/* Messages 
-------------------------------*/
.message .messagearea .messagehistory .right {
	margin-right: 20%;
}

body.path-message .region-content {
	margin-top:20px;
}