/* Course
-------------------------------*/
.course-content .main {
	border: 1px solid #eee;
}

.course-content li.section .content {
	-webkit-box-shadow: 4px 4px 3px #ccc;
	-moz-box-shadow: 4px 4px 3px #ccc;
	box-shadow: 4px 4px 3px #ccc;
	clear: left;
}

.course-content .main .content {
	margin: 0px !important;
	background: #FFFFFF;
	padding: 5px 20px 5px 20px;
}

.course-content ul.weeks li.section {
	margin-top: 20px;
}

.course-content li.current .content {
	background: #eee;
	border: 2px solid #244F77;
	-webkit-box-shadow: 4px 4px 3px #244F77;
	-moz-box-shadow: 4px 4px 3px #244F77;
	box-shadow: 4px 4px 3px #244F77;
	
}

/* Section
-------------------------------*/
.sectionname {
	color: #244f77;
	font-family: Arial, serif;
	text-align: left;
	padding-top: 0px;
	/*border-bottom: 1px solid #244f77;*/
}

ul.section {
	margin: 0px 5px 5px 25px;
}

.section hr {
	width:99%;
}

/* Add Activity Icon
-------------------------------*/

.course-content .activityicon {
	margin-bottom: 0px;
	/*width: auto !important;
	height: auto !important*/
	width:16px !important;
	height:16px !important;
}

.course-content a span:visited, .course-content a:visited {
	color: #244f77;
}
.course-content .activity a:hover {
	text-decoration:none;
}

.course-content .activity a span:hover {
	text-decoration:underline;  
}

span.section-modchooser-link img {
	vertical-align:middle;
}

.course-content .instancename {
	display: inline-block;
	line-height: 2.5em;
}


/* Action Commands (Links) on left and right side
-------------------------------*/

body.editing .course-content li.section .left {
	margin-left: 5px !important;
	margin-top: -12px !important;
}

.right {
	margin-top: 5px;
}

body.editing img.iconsmall,
body.editing .section-modchooser img,
body.editing .course-content .left .section-handle img,
body.editing .course-content .right .editing_highlight img,
body.editing .course-content .right .editing_showhide img {
	height: 20px;
	width: 20px;
	margin: 2px;
	background-color: #eee;
	border: 1px solid #2663ae;
	padding: 1px;
}

body.editing .course-content .section .activity .commands img.iconsmall {
	vertical-align:middle !important;
}
/* Hidden Sections
-------------------------------*/

body.editing li.section.hidden * {
	color: #999;
}

body.editing li.section.hidden div.content div.summary,
body.editing li.section.hidden .mod-indent {
	border: 1px solid #ccc !important;
	background: #e8e8e8 !important;
}

/* Edit Mode
-------------------------------*/

body.editing li.section .content div.summary {
	background: #e8e8e8;
	border: 1px solid #ccc;
	padding: 3px;
	margin-bottom: 5px;
}

body.editing li.section .mod-indent {
	border: 1px solid #ccc;
	background: #e8e8e8;
	margin-bottom: 5px;
	padding: 3px;
}

body.editing #region-main li.section .content {
	background: #fff;
}

/* Forms
------------------------------- */
body.editing .mform .fitem .fitemtitle {
	min-width: 120px;
	max-width: 200px;
	text-align: right;
} 

body.editing form label {
	margin-right:2px;
} 

body.editing .mform .fitem fieldset.felement {
	padding-left: 5%;
}

body.editing .mform  #fgroup_id_buttonar.fitem fieldset.felement {
	padding-left: 1%;
}

body.editing .mform .fitem fieldset.felement.fdate_selector, body.editing .mform .fitem fieldset.felement.fdate_time_selector {
	padding-left:1%;
}

/* Course Categories
------------------------------- */

.boxaligncenter  { 
   border:1px dotted #ccc !important;
   margin-left:0px !important; border:0px;
   margin-top:10px;
   width:100%;
   text-align:left !important;
}

.boxaligncenter  thead tr th.header, th{ 
	text-align:left !important; 
}

body.pagelayout-coursecategory  table tbody {
	margin-left:25px;
	display:block;
}

body.pagelayout-coursecategory #coursesearch2 {
	text-align:left !important;
	border-top:1px dotted #ccc;
	padding-top:5px;
	margin-top:10px;
}

body.pagelayout-coursecategory .courseboxes {
	font-size:0.9em;
}

#page-admin-course-category #movecourses .action-icon .smallicon {
	height: 20px;
	width: 20px;
	margin: 2px;
	background-color: #eee;
	border: 1px solid #2663ae;
	padding: 1px;
}

/* Course Enrolment
------------------------------- */
.userenrolment .col_role .role a img {
	height: 18px;
	vertical-align: text-bottom;
}

.userenrolment .cell {
	vertical-align: middle;
}

/* Lecture
------------------------------- */
.branchbuttoncontainer {
	text-align:center;
	margin-right:10px;
}

.answeroption div.filtertitle {
	width:50%;
}

.anseroption div.fcheckbox input {
	margin-right:5px;
}