/* Course
-------------------------------*/
.course-content .main {
	border: 1px solid #eee;
	background: #eee;
}

.course-content .current {
	background: #1f5480;
}

.course-content .main .content {
	margin: 0px !important;
	background: #f5f6f7;
	padding: 5px 20px 5px 20px;
}

.course-content ul.weeks li.section {
	margin-top: 20px;
}

.course-content .content li.current  {
	border: 2px solid #244F77;
}

.course-content .current {
	background: transparent;
	border: 2px solid #244F77;
}

/* Section
-------------------------------*/

.sectionname {
	color: #244f77;
	font-family: Arial, serif;
	text-align: left;
	padding-top: 0px;
	border-bottom: 1px solid #244f77;
}

ul.section {
	margin: 0px 5px 5px 25px;
}

/* Add Activity Icon
-------------------------------*/

.course-content .activityicon {
	margin-bottom: 0px;
	width: auto !important;
	height: auto !important
}

.course-content .activity a:hover {
	text-decoration:none;
}

.course-content .activity a span:hover {
	text-decoration:underline;  
}

span.section-modchooser-link img {
	vertical-align:middle;
}

.course-content .instancename {
	display: inline-block;
	line-height: 3.5em;
}


/* Action Commands (Links) on left and right side
-------------------------------*/

body.editing .course-content li.section .left {
	margin-left: 5px !important;
	margin-top: -12px !important;
}

.right {
	margin-top: 5px;
}

body.editing img.iconsmall,
body.editing .section-modchooser img,
body.editing .course-content .left .section-handle img,
body.editing .course-content .right .editing_highlight img,
body.editing .course-content .right .editing_showhide img {
	height: 20px;
	width: 20px;
	margin: 2px;
	background-color: #eee;
	border: 1px solid #2663ae;
	padding: 1px;
}

body.editing .course-content .section .activity .commands img.iconsmall {
	vertical-align:middle !important;
}
/* Hidden Sections
-------------------------------*/

body.editing li.section.hidden * {
	color: #999;
}

body.editing li.section.hidden div.content div.summary,
body.editing li.section.hidden .mod-indent {
	border: 1px solid #ccc !important;
	background: #e8e8e8 !important;
}

/* Edit Mode
-------------------------------*/

body.editing li.section .content div.summary {
	background: #fff;
	border: 1px solid #ccc;
	padding: 3px;
	margin-bottom: 5px;
}

body.editing li.section .mod-indent {
	border: 1px solid #ccc;
	background: #fff;
	margin-bottom: 5px;
	padding: 3px;
}

body.editing #region-main li.section .content {
	border: none;
	background: #e8e8e8;
}


/* Forms
------------------------------- */


body.editing .mform .fitem .fitemtitle {

min-width:120px;
max-width:200px;
text-align:right;


} 

body.editing form label {
margin-right:2px;

} 

body.editing .mform .fitem fieldset.felement {

padding-left: 5%;

}


body.editing .mform  #fgroup_id_buttonar.fitem fieldset.felement {

padding-left: 1%;

}
body.editing .mform .fitem fieldset.felement.fdate_selector, body.editing .mform .fitem fieldset.felement.fdate_time_selector {

padding-left:1%;

}

/*course categories*/

 .boxaligncenter  { 
   border:1px dotted #ccc !important;
    margin-left:0px !important; border:0px;
    margin-top:10px;
    width:100%;   text-align:left !important;
}

.boxaligncenter  thead tr th.header, th{ 
  text-align:left !important; 
   
    
}


body.pagelayout-coursecategory  table tbody {margin-left:25px;display:block;}
body.pagelayout-coursecategory #coursesearch2 { text-align:left !important;border-top:1px dotted #ccc;padding-top:5px; margin-top:10px;}
body.pagelayout-coursecategory .courseboxes {font-size:0.9em;}
#page-admin-course-category #movecourses .action-icon .smallicon {
height: 20px;
	width: 20px;
	margin: 2px;
	background-color: #eee;
	border: 1px solid #2663ae;
	padding: 1px;
}

.no-overflow {
	overflow: visible;
}