/* Space for the Dock
--------------------------*/
body.has_dock {
    margin-left: 36px;
}

#dock.nothingdocked {
	visibility: none;
	display: block;
}

body.pagelayout-frontpage.notloggedin #dock {
	visibility: hidden;
	display: none;
}

#dock {
	width: 35px;
	height: 100%;
	background-color: #fff;
	left: 0;
	border-right: 1px solid #ccc;
}

#dock .dockedtitle .filterrotate {
	margin-left: 8px;
}

#dock .dockeditem.firstdockitem {
    margin-top: 190px;
}

/* Dock where Icons displayed
--------------------------*/
#dock .dockedtitle {
/*	height: auto !important; */
	border-bottom: 0px solid #000;
	border-top: 0px solid #000;
}

#dock .dockedtitle h2 {
	color: #FFF;
	margin: 0px;
	-webkit-box-shadow: 3px 2px 4px #ccc;
	-moz-box-shadow: 3px 2px 4px #ccc;
	box-shadow: 3px 2px 4px #ccc;
}

#dock .dockeditem {
	margin-top: 10px;
	background: #244f77;
}

/* Dock Controls at the bottom
--------------------------*/
#dock .controls {
	position: absolute;
	bottom: 50px;
	width: 100%;
}

#dock .controls img{
	width: 20px;
	height: 20px;
}

/* Panel where the Blocks will be displayed
--------------------------*/
#dockeditempanel {
	position: relative;
	margin-left: 0px;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	min-width: 270px;
}

#dockeditempanel.dockitempanel_hidden {
	display: none;
}

#dockeditempanel .dockeditempanel_content {
	border: 0px solid #000;
	line-height: 25px;
}

/* Block Heading
--------------------------*/
#dockeditempanel .dockeditempanel_hd {
	border-bottom: 0px solid #000;
	text-align: left;
	background: #244f77;
	min-height:25px;
	margin: 0px;
	padding-left: 5px;
}

body.editing #dockeditempanel .dockeditempanel_hd {
	margin: auto;
	padding-left: 0px;
	text-align: left;
	border-left: 1px solid #ccc;
}

#dockeditempanel .dockeditempanel_hd h2 {
	display: inline-block;
	margin: 0 !important;
	color: #fff;
}

body.editing #dockeditempanel .dockeditempanel_hd h2 {
	display: inline-block;
	margin: 0 !important;
	padding-left: 5px !important;
	color: #fff;
	background: #244f77;
	min-width:160px !important;
}

/* Block Commands
--------------------------*/
#dockeditempanel .dockeditempanel_hd .commands {
	float:right;
	margin-right:10px;
}

/* Block Commands in editing mode
--------------------------*/
body.editing #dockeditempanel .dockeditempanel_hd .commands {
	/*display: block;*/
	
    float: right;
    height: 15px;
    width: auto;
    margin-right: 0px;
    border-bottom: 1px solid #244f77;
	border-left: 1px solid #244f77;
	border-right: 1px solid #244f77;
    background-color: #E8E8E8;
}

body.editing #dockeditempanel .dockeditempanel_hd .commands img {
	height: 15px !important;
    width: 15px !important;
    vertical-align:top;  
    border-right:1px solid #2663AE;  
}


/* Block Commands
--------------------------*/
#dockeditempanel .dockeditempanel_bd {
	min-width:270px;
	background-color: #FFF;
}

#dockeditempanel .dockeditempanel_bd .block_docked {
	margin: 10px;
}

#dockeditempanel .dockeditempanel_bd .block_navigation .block_tree li {
	overflow: visible;
}

/** IE 6 doesn't support fixed pos elements **/
.ie6 #dockeditempanel {
	position: absolute;
}

/** Overide for RTL layout **/
.dir-rtl #dockeditempanel {
	left: 670%;
}

/* right align the DOCK panel
------------------------------*/
.dir-rtl #dockeditempanel {
	right: 100%;
}

.dir-rtl #dock {
	left: auto;
	right: 0%;
	border-left: 1px solid #DDD;
}

.dir-rtl #dock .dockedtitle {
	border-bottom: 0px solid #DDD;
	border-top: 1px solid #EEE;
	cursor: pointer;
}

body.dir-rtl.has_dock {
	margin-left: 0px;
	margin-right: 30px
}

body.editing #dockeditempanel .dockeditempanel_hd .commands span.hidepanelicon img {
	border: none;
}
