/* Frontpage style
--------------------------*/
body.notloggedin.pagelayout-frontpage #top{
	background-image: url([[pix:theme|frontpage]]);
    background-repeat: no-repeat;
    background-position:0 0;
}

body.notloggedin.pagelayout-frontpage #region-main-banner {
       display:none;
}

body.notloggedin.pagelayout-frontpage #newheaderleft,
body.notloggedin.pagelayout-frontpage #newheader {
    display:none;
}


body.notloggedin.pagelayout-frontpage #page-content-wrapper {
   max-width: 1400px;
    margin: 0;
}

/* Region Main
-------------------------------*/
body.notloggedin.pagelayout-frontpage #page-content #region-main-box {
    background:transparent;
    box-shadow:none;
    margin-left: -240px; /* interesting */
}

body.notloggedin.pagelayout-frontpage #page-content #region-main {
	min-height: 0px;
    background-image: url([[pix:theme|frontpage-column-content]]);
    height:630px;
    margin-left: 610px !important; /* interesting */
}

body.notloggedin.pagelayout-frontpage #region-main .breadcrumb {
    display:none;
}

body.pagelayout-frontpage #page-content #region-main .region-content {
    overflow: hidden;
    padding: 20px 10px 20px 0px;
}

body.notloggedin.pagelayout-frontpage #page-content #region-main .region-content {
    overflow: hidden;
    padding: 20px 40px 20px 20px;
}

body.notloggedin.pagelayout-frontpage #page-content #region-post-box {
    background:transparent;
    box-shadow: none;
}



/* Region Pre
-------------------------------*/
body.notloggedin.pagelayout-frontpage #page-content #region-pre {
    background-image:url([[pix:theme|frontpage_bg]]);
    background-repeat:repeat-y;
    height:629px;
    background-position:center;
	left: 215px;
    box-shadow: none;
}

/* Region Post
-------------------------------*/
body.notloggedin.pagelayout-frontpage #page-content #region-post {
    background-image:url([[pix:theme|frontpage_bg]]);
    background-repeat:repeat-y;
    height:629px;
    background-position:center;
    left:635px;
}

/* Footer
-------------------------------*/
body.notloggedin.pagelayout-frontpage #page-footer {
	max-width: 1490px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	overflow: hidden;
	background-image:url([[pix:theme|footer-border]]);
	background-repeat:repeat-y;
	position:relative;
	margin-bottom: 0px;
	float:none;
}

body.notloggedin.pagelayout-frontpage .footer-shadow {
	background-image: url([[pix:theme|footer-border-bottom]]);
	background-repeat: no-repeat;
	height: 48px; 
	position: relative;
	max-width: 1490px;	
}

body.notloggedin.pagelayout-frontpage #page-footer .sitelink {
	margin-top: 5px;
}

body.notloggedin.pagelayout-frontpage #page {
	position:static !important;
	min-height:10px;
}

/* General styles
-------------------------------*/
body.pagelayout-frontpage .sitetopic {
	border: 2px solid #eee;
    padding: 10px;
    -webkit-box-shadow: 4px 4px 3px #ccc;
	-moz-box-shadow: 4px 4px 3px #ccc;
	box-shadow: 4px 4px 3px #ccc;
}

body.notloggedin.pagelayout-frontpage .sitetopic {
	background-color: transparent;
	margin: 0px;
	padding: 0px;
	border: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

body.pagelayout-frontpage h2.headingblock.header {
    color:#244f77;
    padding: 10px 5px 10px 5px;
    margin-top: 20px;
    font-style: italic;
    font-size: 1.4em;
    background-image: url([[pix:theme|bgraster]]); 
}

body.notloggedin.pagelayout-frontpage h2.headingblock.header {
    color:#244f77;
	background: transparent;
	font-style: normal;
	padding: 0px;
}

/* Forumpost Style
-------------------------------*/
body.notloggedin.pagelayout-frontpage #page-content .forumpost {
    border: 0px;
}

/* Disable Dock on Frontpage when not loggedin
--------------------------*/
body.pagelayout-frontpage.notloggedin #dock {
	visibility: hidden;
	display: none;
}

/* Frontpage - Blocks
-------------------------------*/
body.notloggedin.pagelayout-frontpage #region-post .block .content,
body.notloggedin.pagelayout-frontpage #region-pre .block .content {
    border:0px;
}

body.notloggedin.pagelayout-frontpage #region-post .block .header {
    background-color: #244f77;
}


body.notloggedin.pagelayout-frontpage #page-content #region-pre .region-content,
body.notloggedin.pagelayout-frontpage #page-content #region-post .region-content {
    padding: 40px 10px 0px 0px;
}

/* disable commands for block on frontpage */
body.notloggedin.pagelayout-frontpage .block-region .block .header .block_action {
    display: none;
}

/* Login-UP Block
-------------------------------*/
body.notloggedin.pagelayout-frontpage .block_loginup .content .username input {
    width:160px;
    margin-bottom:10px;
}

body.notloggedin.pagelayout-frontpage .block_loginup .content .password input {
    width:160px;
}

body.notloggedin.pagelayout-frontpage .block_loginup .content .btn {
    text-align:right;
    width:auto;
}

body.notloggedin.pagelayout-frontpage .block_loginup .content .btn input{
    margin-left:20px;
    width:120px;
}

/* SIDE-POST only
------------------------------*/
body.notloggedin.pagelayout-frontpage.side-post-only #page-content #region-main-box #region-post-box #region-post {
	left: 420px;
}