/* Login - Page
---------------------------*/
body.pagelayout-login .loginpanel .loginsub {
	float: left;
	width: 50%;
	border-right: 1px solid #ccc;
	margin-right: 10px;
}

body.pagelayout-login .loginbox .loginpanel h2 {
	text-align: left;
	margin: 0 0 0 8px;
	padding: 0;
	color: #244f77;
}

body.pagelayout-login .loginbox form#login {
	width: 100%;
}

body.pagelayout-login .loginbox .loginform {
	padding: 5px;
}

body.pagelayout-login .loginbox .loginsub {
	text-align: left;
}

body.pagelayout-login .loginbox .guestsub {
	text-align: left;
}

body.pagelayout-login .loginbox .form-label {
	text-align: left;
	font-weight: bold;
	float: none;
}

body.pagelayout-login .loginbox .form-input {
	float: none;
}

body.pagelayout-login .loginbox .form-input input {
	width: 100%;
}

body.pagelayout-login .loginbox .form-input input#username {
	width: 100%;
	margin-bottom: 8px;
	background: #fff;
}

body.pagelayout-login .loginbox .form-input #password {
	display: block !important;
	background: #fff;
}

body.pagelayout-login .loginbox .form-input #loginbtn {
	margin-top: 10px;
	width: 103%;
}
/*
body.pagelayout-login .loginbox {
	max-width: 700px;
}
*/
body.pagelayout-login .rememberpass {
	margin-left: 5px;
}

body.pagelayout-login .forgetpass {
	margin-left: 5px;
	margin-bottom: 5px;
}

body.pagelayout-login .guestsub {
	margin-left: 200px;
}

body.pagelayout-login #outer2 #content-outer2,body.pagelayout-login #outer1 #content-outer1	{
	display: none;
}