
/* Newsticker Styles (only for frontpage)
-------------------------------*/
 
body.notloggedin.pagelayout-frontpage .newsticker-wrapper .newsticker-contents-wrapper {
	height: 350px;
}

body.notloggedin.pagelayout-frontpage .newsticker-wrapper .newsticker-contents {
	overflow: hidden;
	position: relative;
	z-index: 998;
	height: 350px;
}
body.notloggedin.pagelayout-frontpage .newsticker-wrapper .forumpost {
	padding-top:0px;
	width: 100%;

	position: relative;
	z-index: 999;
	border-bottom: 1px dashed #6a6a6a;
}

/* For Nested Forumposts on Frontpage
-------------------------------*/

body.notloggedin.pagelayout-frontpage .newstickerpost .news-contents .forumpost {
	padding-top: 0px;	
	margin: 0;
}

body.notloggedin.pagelayout-frontpage .newstickerpost .fullpost {
	height: 270px;
}

body.notloggedin.pagelayout-frontpage .newstickerpost .fullpost .fullpost {
	height: auto;
}

body.notloggedin.pagelayout-frontpage .newsticker-wrapper .newstickerpost {
	position: absolute;
	width: 100%;
}

body.notloggedin.pagelayout-frontpage .newsticker-wrapper .forumpost .forumpost {
	overflow: visible;
}

body.notloggedin.pagelayout-frontpage .newsticker-wrapper .forumpost .content {
	border:0px;
	padding: 5px 7px 0px 7px;
}

body.notloggedin.pagelayout-frontpage .newsticker-wrapper .forumpost .topic {
	background:transparent;
}

body.notloggedin.pagelayout-frontpage .newsticker-wrapper .forumpost .row.side {
	display: none;
}

body.notloggedin.pagelayout-frontpage .newsticker-wrapper .news-header, .news-footer {
	color: white;
	height: 20px;
	font-weight: bold;
	font-size: 14px;
	padding-top: 12px;
	padding-left: 32px;
}

body.notloggedin.pagelayout-frontpage .newsticker-contents .forumpost .content .posting {
	height: 270px;
}